## DataFrame Basics II

In [31]:
import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.min_rows = None

In [2]:
titanic = pd.read_csv("data/titanic.csv")

In [3]:
titanic.head(10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [4]:
titanic.sex.head(10)

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7      male
8    female
9    female
Name: sex, dtype: object

In [5]:
titanic.sex == "male"

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
30      True
31     False
32     False
33      True
34      True
35      True
36      True
37      True
38     False
39     False
40     False
41     False
42      True
43     False
44     False
45      True
46      True
47     False
48      True
49     False
       ...
841     True
842    False
843     True
844     True
845     True
846     True
847     True
848     True
849    False
850     True
851     True
852    False
853    False
854    False
855    False
856    False
857     True
858    False
859     True
860     True
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: sex, Length: 891, dtype: bool

In [12]:
titanic.loc[titanic.sex == "female", "fare"]

1       71.2833
2        7.9250
3       53.1000
8       11.1333
9       30.0708
10      16.7000
11      26.5500
14       7.8542
15      16.0000
18      18.0000
19       7.2250
22       8.0292
24      21.0750
25      31.3875
28       7.8792
31     146.5208
32       7.7500
38      18.0000
39      11.2417
40       9.4750
41      21.0000
43      41.5792
44       7.8792
47       7.7500
49      17.8000
52      76.7292
53      26.0000
56      10.5000
58      27.7500
61      80.0000
66      10.5000
68       7.9250
71      46.9000
79      12.4750
82       7.7875
84      10.5000
85      15.8500
88     263.0000
98      23.0000
100      7.8958
106      7.6500
109     24.1500
111     14.4542
113      9.8250
114     14.4583
119     31.2750
123     13.0000
128     22.3583
132     14.5000
133     26.0000
         ...
742    262.3750
747     13.0000
750     23.0000
754     65.0000
759     86.5000
763    120.0000
765     77.9583
767      7.7500
772     10.5000
774     23.0000
777     12.4750
779    211.3375
780      7.2292
781     57.0000
786      7.4958
792     69.5500
796     25.9292
797      8.6833
799     24.1500
801     26.2500
807      7.7750
809     53.1000
813     31.2750
816      7.9250
820     93.5000
823     12.4750
829     80.0000
830     14.4542
835     83.1583
842     31.0000
849     89.1042
852     15.2458
853     39.4000
854     26.0000
855      9.3500
856    164.8667
858     19.2583
862     25.9292
863     69.5500
865     13.0000
866     13.8583
871     52.5542
874     24.0000
875      7.2250
879     83.1583
880     26.0000
882     10.5167
885     29.1250
887     30.0000
888     23.4500
Name: fare, Length: 314, dtype: float64

In [13]:
mask1 = titanic.sex == "male"

In [14]:
mask1

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
30      True
31     False
32     False
33      True
34      True
35      True
36      True
37      True
38     False
39     False
40     False
41     False
42      True
43     False
44     False
45      True
46      True
47     False
48      True
49     False
       ...
841     True
842    False
843     True
844     True
845     True
846     True
847     True
848     True
849    False
850     True
851     True
852    False
853    False
854    False
855    False
856    False
857     True
858    False
859     True
860     True
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: sex, Length: 891, dtype: bool

In [15]:
titanic_male = titanic.loc[mask1]

In [16]:
titanic_male.head()

   survived  pclass   sex   age  sibsp  parch     fare embarked deck
0         0       3  male  22.0      1      0   7.2500        S  NaN
4         0       3  male  35.0      0      0   8.0500        S  NaN
5         0       3  male   NaN      0      0   8.4583        Q  NaN
6         0       1  male  54.0      0      0  51.8625        S    E
7         0       3  male   2.0      3      1  21.0750        S  NaN

In [17]:
titanic.dtypes == object

survived    False
pclass      False
sex          True
age         False
sibsp       False
parch       False
fare        False
embarked     True
deck         True
dtype: bool

In [18]:
mask2 = titanic.dtypes == object

In [19]:
mask2

survived    False
pclass      False
sex          True
age         False
sibsp       False
parch       False
fare        False
embarked     True
deck         True
dtype: bool

In [22]:
titanic.loc[:, ~mask2]

     survived  pclass   age  sibsp  parch      fare
0           0       3  22.0      1      0    7.2500
1           1       1  38.0      1      0   71.2833
2           1       3  26.0      0      0    7.9250
3           1       1  35.0      1      0   53.1000
4           0       3  35.0      0      0    8.0500
5           0       3   NaN      0      0    8.4583
6           0       1  54.0      0      0   51.8625
7           0       3   2.0      3      1   21.0750
8           1       3  27.0      0      2   11.1333
9           1       2  14.0      1      0   30.0708
10          1       3   4.0      1      1   16.7000
11          1       1  58.0      0      0   26.5500
12          0       3  20.0      0      0    8.0500
13          0       3  39.0      1      5   31.2750
14          0       3  14.0      0      0    7.8542
15          1       2  55.0      0      0   16.0000
16          0       3   2.0      4      1   29.1250
17          1       2   NaN      0      0   13.0000
18          0       3  31.0      1      0   18.0000
19          1       3   NaN      0      0    7.2250
20          0       2  35.0      0      0   26.0000
21          1       2  34.0      0      0   13.0000
22          1       3  15.0      0      0    8.0292
23          1       1  28.0      0      0   35.5000
24          0       3   8.0      3      1   21.0750
25          1       3  38.0      1      5   31.3875
26          0       3   NaN      0      0    7.2250
27          0       1  19.0      3      2  263.0000
28          1       3   NaN      0      0    7.8792
29          0       3   NaN      0      0    7.8958
30          0       1  40.0      0      0   27.7208
31          1       1   NaN      1      0  146.5208
32          1       3   NaN      0      0    7.7500
33          0       2  66.0      0      0   10.5000
34          0       1  28.0      1      0   82.1708
35          0       1  42.0      1      0   52.0000
36          1       3   NaN      0      0    7.2292
37          0       3  21.0      0      0    8.0500
38          0       3  18.0      2      0   18.0000
39          1       3  14.0      1      0   11.2417
40          0       3  40.0      1      0    9.4750
41          0       2  27.0      1      0   21.0000
42          0       3   NaN      0      0    7.8958
43          1       2   3.0      1      2   41.5792
44          1       3  19.0      0      0    7.8792
45          0       3   NaN      0      0    8.0500
46          0       3   NaN      1      0   15.5000
47          1       3   NaN      0      0    7.7500
48          0       3   NaN      2      0   21.6792
49          0       3  18.0      1      0   17.8000
..        ...     ...   ...    ...    ...       ...
841         0       2  16.0      0      0   10.5000
842         1       1  30.0      0      0   31.0000
843         0       3  34.5      0      0    6.4375
844         0       3  17.0      0      0    8.6625
845         0       3  42.0      0      0    7.5500
846         0       3   NaN      8      2   69.5500
847         0       3  35.0      0      0    7.8958
848         0       2  28.0      0      1   33.0000
849         1       1   NaN      1      0   89.1042
850         0       3   4.0      4      2   31.2750
851         0       3  74.0      0      0    7.7750
852         0       3   9.0      1      1   15.2458
853         1       1  16.0      0      1   39.4000
854         0       2  44.0      1      0   26.0000
855         1       3  18.0      0      1    9.3500
856         1       1  45.0      1      1  164.8667
857         1       1  51.0      0      0   26.5500
858         1       3  24.0      0      3   19.2583
859         0       3   NaN      0      0    7.2292
860         0       3  41.0      2      0   14.1083
861         0       2  21.0      1      0   11.5000
862         1       1  48.0      0      0   25.9292
863         0       3   NaN      8      2   69.5500
864         0       2  24.0      0      0   13.0000
865         1       2  42.0      0      0   13.0000
866         1       2  27.0      1      0   13.8583
867         0       1  31.0      0      0   50.4958
868         0       3   NaN      0      0    9.5000
869         1       3   4.0      1      1   11.1333
870         0       3  26.0      0      0    7.8958
871         1       1  47.0      1      1   52.5542
872         0       1  33.0      0      0    5.0000
873         0       3  47.0      0      0    9.0000
874         1       2  28.0      1      0   24.0000
875         1       3  15.0      0      0    7.2250
876         0       3  20.0      0      0    9.8458
877         0       3  19.0      0      0    7.8958
878         0       3   NaN      0      0    7.8958
879         1       1  56.0      0      1   83.1583
880         1       2  25.0      0      1   26.0000
881         0       3  33.0      0      0    7.8958
882         0       3  22.0      0      0   10.5167
883         0       2  28.0      0      0   10.5000
884         0       3  25.0      0      0    7.0500
885         0       3  39.0      0      5   29.1250
886         0       2  27.0      0      0   13.0000
887         1       1  19.0      0      0   30.0000
888         0       3   NaN      1      2   23.4500
889         1       1  26.0      0      0   30.0000
890         0       3  32.0      0      0    7.7500

[891 rows x 6 columns]

In [23]:
titanic.loc[mask1, ~mask2]

     survived  pclass    age  sibsp  parch      fare
0           0       3  22.00      1      0    7.2500
4           0       3  35.00      0      0    8.0500
5           0       3    NaN      0      0    8.4583
6           0       1  54.00      0      0   51.8625
7           0       3   2.00      3      1   21.0750
12          0       3  20.00      0      0    8.0500
13          0       3  39.00      1      5   31.2750
16          0       3   2.00      4      1   29.1250
17          1       2    NaN      0      0   13.0000
20          0       2  35.00      0      0   26.0000
21          1       2  34.00      0      0   13.0000
23          1       1  28.00      0      0   35.5000
26          0       3    NaN      0      0    7.2250
27          0       1  19.00      3      2  263.0000
29          0       3    NaN      0      0    7.8958
30          0       1  40.00      0      0   27.7208
33          0       2  66.00      0      0   10.5000
34          0       1  28.00      1      0   82.1708
35          0       1  42.00      1      0   52.0000
36          1       3    NaN      0      0    7.2292
37          0       3  21.00      0      0    8.0500
42          0       3    NaN      0      0    7.8958
45          0       3    NaN      0      0    8.0500
46          0       3    NaN      1      0   15.5000
48          0       3    NaN      2      0   21.6792
50          0       3   7.00      4      1   39.6875
51          0       3  21.00      0      0    7.8000
54          0       1  65.00      0      1   61.9792
55          1       1    NaN      0      0   35.5000
57          0       3  28.50      0      0    7.2292
59          0       3  11.00      5      2   46.9000
60          0       3  22.00      0      0    7.2292
62          0       1  45.00      1      0   83.4750
63          0       3   4.00      3      2   27.9000
64          0       1    NaN      0      0   27.7208
65          1       3    NaN      1      1   15.2458
67          0       3  19.00      0      0    8.1583
69          0       3  26.00      2      0    8.6625
70          0       2  32.00      0      0   10.5000
72          0       2  21.00      0      0   73.5000
73          0       3  26.00      1      0   14.4542
74          1       3  32.00      0      0   56.4958
75          0       3  25.00      0      0    7.6500
76          0       3    NaN      0      0    7.8958
77          0       3    NaN      0      0    8.0500
78          1       2   0.83      0      2   29.0000
80          0       3  22.00      0      0    9.0000
81          1       3  29.00      0      0    9.5000
83          0       1  28.00      0      0   47.1000
86          0       3  16.00      1      3   34.3750
..        ...     ...    ...    ...    ...       ...
814         0       3  30.50      0      0    8.0500
815         0       1    NaN      0      0    0.0000
817         0       2  31.00      1      1   37.0042
818         0       3  43.00      0      0    6.4500
819         0       3  10.00      3      2   27.9000
821         1       3  27.00      0      0    8.6625
822         0       1  38.00      0      0    0.0000
824         0       3   2.00      4      1   39.6875
825         0       3    NaN      0      0    6.9500
826         0       3    NaN      0      0   56.4958
827         1       2   1.00      0      2   37.0042
828         1       3    NaN      0      0    7.7500
831         1       2   0.83      1      1   18.7500
832         0       3    NaN      0      0    7.2292
833         0       3  23.00      0      0    7.8542
834         0       3  18.00      0      0    8.3000
836         0       3  21.00      0      0    8.6625
837         0       3    NaN      0      0    8.0500
838         1       3  32.00      0      0   56.4958
839         1       1    NaN      0      0   29.7000
840         0       3  20.00      0      0    7.9250
841         0       2  16.00      0      0   10.5000
843         0       3  34.50      0      0    6.4375
844         0       3  17.00      0      0    8.6625
845         0       3  42.00      0      0    7.5500
846         0       3    NaN      8      2   69.5500
847         0       3  35.00      0      0    7.8958
848         0       2  28.00      0      1   33.0000
850         0       3   4.00      4      2   31.2750
851         0       3  74.00      0      0    7.7750
857         1       1  51.00      0      0   26.5500
859         0       3    NaN      0      0    7.2292
860         0       3  41.00      2      0   14.1083
861         0       2  21.00      1      0   11.5000
864         0       2  24.00      0      0   13.0000
867         0       1  31.00      0      0   50.4958
868         0       3    NaN      0      0    9.5000
869         1       3   4.00      1      1   11.1333
870         0       3  26.00      0      0    7.8958
872         0       1  33.00      0      0    5.0000
873         0       3  47.00      0      0    9.0000
876         0       3  20.00      0      0    9.8458
877         0       3  19.00      0      0    7.8958
878         0       3    NaN      0      0    7.8958
881         0       3  33.00      0      0    7.8958
883         0       2  28.00      0      0   10.5000
884         0       3  25.00      0      0    7.0500
886         0       2  27.00      0      0   13.0000
889         1       1  26.00      0      0   30.0000
890         0       3  32.00      0      0    7.7500

[577 rows x 6 columns]

## Filtering DataFrames

In [24]:
titanic = pd.read_csv("data/titanic.csv")

In [25]:
mask1 = titanic.sex == "male"

In [26]:
mask2 = titanic.age > 14

In [27]:
mask1.head()

0     True
1    False
2    False
3    False
4     True
Name: sex, dtype: bool

In [28]:
(mask1 & mask2).head()

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [29]:
male_survivors = titanic.loc[mask1 & mask2, ["survived", "pclass", "sex", "age"]]

In [32]:
male_survivors.head(40)

     survived  pclass   sex   age
0           0       3  male  22.0
4           0       3  male  35.0
6           0       1  male  54.0
12          0       3  male  20.0
13          0       3  male  39.0
20          0       2  male  35.0
21          1       2  male  34.0
23          1       1  male  28.0
27          0       1  male  19.0
30          0       1  male  40.0
33          0       2  male  66.0
34          0       1  male  28.0
35          0       1  male  42.0
37          0       3  male  21.0
51          0       3  male  21.0
54          0       1  male  65.0
57          0       3  male  28.5
60          0       3  male  22.0
62          0       1  male  45.0
67          0       3  male  19.0
69          0       3  male  26.0
70          0       2  male  32.0
72          0       2  male  21.0
73          0       3  male  26.0
74          1       3  male  32.0
75          0       3  male  25.0
80          0       3  male  22.0
81          1       3  male  29.0
83          0       1  male  28.0
86          0       3  male  16.0
89          0       3  male  24.0
90          0       3  male  29.0
91          0       3  male  20.0
92          0       1  male  46.0
93          0       3  male  26.0
94          0       3  male  59.0
96          0       1  male  71.0
97          1       1  male  23.0
99          0       2  male  34.0
102         0       1  male  21.0

In [33]:
male_survivors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  414 non-null    int64
 1   pclass    414 non-null    int64
 2   sex       414 non-null    object
 3   age       414 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 16.2+ KB

In [34]:
male_survivors.describe()

         survived      pclass         age
count  414.000000  414.000000  414.000000
mean     0.173913    2.309179   33.129227
std      0.379493    0.829868   12.922177
min      0.000000    1.000000   15.000000
25%      0.000000    2.000000   23.000000
50%      0.000000    3.000000   30.000000
75%      0.000000    3.000000   40.000000
max      1.000000    3.000000   80.000000

In [35]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## OR Conditions

In [36]:
mask3 = titanic.sex == "female"

In [40]:
mask4 = titanic.age < 14

In [41]:
(mask3 | mask4).head()

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [42]:
titanic.loc[mask3|mask4]

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
22          1       3  female  15.00      0      0    8.0292        Q  NaN
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
28          1       3  female    NaN      0      0    7.8792        Q  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
56          1       2  female  21.00      0      0   10.5000        S  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
63          0       3    male   4.00      3      2   27.9000        S  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
68          1       3  female  17.00      4      2    7.9250        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
98          1       2  female  34.00      0      1   23.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
111         0       3  female  14.50      1      0   14.4542        C  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
..        ...     ...     ...    ...    ...    ...       ...      ...  ...
777         1       3  female   5.00      0      0   12.4750        S  NaN
779         1       1  female  43.00      0      1  211.3375        S    B
780         1       3  female  13.00      0      0    7.2292        C  NaN
781         1       1  female  17.00      1      0   57.0000        S    B
786         1       3  female  18.00      0      0    7.4958        S  NaN
787         0       3    male   8.00      4      1   29.1250        Q  NaN
788         1       3    male   1.00      1      2   20.5750        S  NaN
792         0       3  female    NaN      8      2   69.5500        S  NaN
796         1       1  female  49.00      0      0   25.9292        S    D
797         1       3  female  31.00      0      0    8.6833        S  NaN
799         0       3  female  30.00      1      1   24.1500        S  NaN
801         1       2  female  31.00      1      1   26.2500        S  NaN
802         1       1    male  11.00      1      2  120.0000        S    B
803         1       3    male   0.42      0      1    8.5167        C  NaN
807         0       3  female  18.00      0      0    7.7750        S  NaN
809         1       1  female  33.00      1      0   53.1000        S    E
813         0       3  female   6.00      4      2   31.2750        S  NaN
816         0       3  female  23.00      0      0    7.9250        S  NaN
819         0       3    male  10.00      3      2   27.9000        S  NaN
820         1       1  female  52.00      1      1   93.5000        S    B
823         1       3  female  27.00      0      1   12.4750        S    E
824         0       3    male   2.00      4      1   39.6875        S  NaN
827         1       2    male   1.00      0      2   37.0042        C  NaN
829         1       1  female  62.00      0      0   80.0000      NaN    B
830         1       3  female  15.00      1      0   14.4542        C  NaN
831         1       2    male   0.83      1      1   18.7500        S  NaN
835         1       1  female  39.00      1      1   83.1583        C    E
842         1       1  female  30.00      0      0   31.0000        C  NaN
849         1       1  female    NaN      1      0   89.1042        C    C
850         0       3    male   4.00      4      2   31.2750        S  NaN
852         0       3  female   9.00      1      1   15.2458        C  NaN
853         1       1  female  16.00      0      1   39.4000        S    D
854         0       2  female  44.00      1      0   26.0000        S  NaN
855         1       3  female  18.00      0      1    9.3500        S  NaN
856         1       1  female  45.00      1      1  164.8667        S  NaN
858         1       3  female  24.00      0      3   19.2583        C  NaN
862         1       1  female  48.00      0      0   25.9292        S    D
863         0       3  female    NaN      8      2   69.5500        S  NaN
865         1       2  female  42.00      0      0   13.0000        S  NaN
866         1       2  female  27.00      1      0   13.8583        C  NaN
869         1       3    male   4.00      1      1   11.1333        S  NaN
871         1       1  female  47.00      1      1   52.5542        S    D
874         1       2  female  28.00      1      0   24.0000        C  NaN
875         1       3  female  15.00      0      0    7.2250        C  NaN
879         1       1  female  56.00      0      1   83.1583        C    C
880         1       2  female  25.00      0      1   26.0000        S  NaN
882         0       3  female  22.00      0      0   10.5167        S  NaN
885         0       3  female  39.00      0      5   29.1250        Q  NaN
887         1       1  female  19.00      0      0   30.0000        S    B
888         0       3  female    NaN      1      2   23.4500        S  NaN

[351 rows x 9 columns]

In [43]:
women_or_children = titanic.loc[mask3 | mask4, ["survived", "pclass", "sex", "age"]]

In [44]:
women_or_children.head()

   survived  pclass     sex   age
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
7         0       3    male   2.0
8         1       3  female  27.0

In [45]:
women_or_children.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351 entries, 1 to 888
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  351 non-null    int64
 1   pclass    351 non-null    int64
 2   sex       351 non-null    object
 3   age       298 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.7+ KB

In [46]:
women_or_children.describe()

         survived      pclass         age
count  351.000000  351.000000  298.000000
mean     0.723647    2.205128   25.039161
std      0.447832    0.847232   15.314631
min      0.000000    1.000000    0.420000
25%      0.000000    1.000000   14.125000
50%      1.000000    2.000000   24.000000
75%      1.000000    3.000000   35.000000
max      1.000000    3.000000   63.000000

## Advanced Filtering with between and isin and ~

In [47]:
summer = pd.read_csv("data/summer.csv")

In [48]:
og_1988 = summer.loc[summer.Year == 1988]

In [49]:
og_1988.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
18051,1988,Seoul,Aquatics,Diving,"MENA CAMPOS, Jesus",MEX,Men,10M Platform,Bronze
18052,1988,Seoul,Aquatics,Diving,"LOUGANIS, Gregory",USA,Men,10M Platform,Gold
18053,1988,Seoul,Aquatics,Diving,"XIONG, Ni",CHN,Men,10M Platform,Silver
18054,1988,Seoul,Aquatics,Diving,"WYLAND-WILLIAMS, Wendy Lian",USA,Women,10M Platform,Bronze
18055,1988,Seoul,Aquatics,Diving,"XU, Yan-Mei",CHN,Women,10M Platform,Gold

In [50]:
og_1988.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1546 entries, 18051 to 19596
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        1546 non-null   int64
 1   City        1546 non-null   object
 2   Sport       1546 non-null   object
 3   Discipline  1546 non-null   object
 4   Athlete     1546 non-null   object
 5   Country     1546 non-null   object
 6   Gender      1546 non-null   object
 7   Event       1546 non-null   object
 8   Medal       1546 non-null   object
dtypes: int64(1), object(8)
memory usage: 120.8+ KB

In [51]:
og_since1992 = summer.loc[summer.Year >= 1992]

In [52]:
og_since1992.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
19597,1992,Barcelona,Aquatics,Diving,"XIONG, Ni",CHN,Men,10M Platform,Bronze
19598,1992,Barcelona,Aquatics,Diving,"SUN, Shuwei",CHN,Men,10M Platform,Gold
19599,1992,Barcelona,Aquatics,Diving,"DONIE, Scott R.",USA,Men,10M Platform,Silver
19600,1992,Barcelona,Aquatics,Diving,"CLARK, Mary Ellen",USA,Women,10M Platform,Bronze
19601,1992,Barcelona,Aquatics,Diving,"FU, Mingxia",CHN,Women,10M Platform,Gold

In [53]:
summer.Year.between(1960, 1969).head()

0    False
1    False
2    False
3    False
4    False
Name: Year, dtype: bool

In [54]:
og_60s = summer.loc[summer.Year.between(1960, 1969, inclusive=True)]

In [55]:
og_60s

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
9792,1960,Rome,Aquatics,Diving,"PHELPS, Brian Eric",GBR,Men,10M Platform,Bronze
9793,1960,Rome,Aquatics,Diving,"WEBSTER, Robert David",USA,Men,10M Platform,Gold
9794,1960,Rome,Aquatics,Diving,"TOBIAN, Gary Milburn",USA,Men,10M Platform,Silver
9795,1960,Rome,Aquatics,Diving,"KRUTOVA, Ninel",URS,Women,10M Platform,Bronze
9796,1960,Rome,Aquatics,Diving,"KRÄMER-ENGEL-GULBIN, Ingrid",EUA,Women,10M Platform,Gold
9797,1960,Rome,Aquatics,Diving,"MYERS-POPE, Paula Jean",USA,Women,10M Platform,Silver
9798,1960,Rome,Aquatics,Diving,"BOTELLA MEDINA, Juan",MEX,Men,3M Springboard,Bronze
9799,1960,Rome,Aquatics,Diving,"TOBIAN, Gary Milburn",USA,Men,3M Springboard,Gold
9800,1960,Rome,Aquatics,Diving,"HALL, Samuel Nesley",USA,Men,3M Springboard,Silver
9801,1960,Rome,Aquatics,Diving,"FERRIS, Elizabeth Anne E.",GBR,Women,3M Springboard,Bronze
9802,1960,Rome,Aquatics,Diving,"KRÄMER-ENGEL-GULBIN, Ingrid",EUA,Women,3M Springboard,Gold
9803,1960,Rome,Aquatics,Diving,"MYERS-POPE, Paula Jean",USA,Women,3M Springboard,Silver
9804,1960,Rome,Aquatics,Swimming,"BENNETT, Robert Earl",USA,Men,100M Backstroke,Bronze
9805,1960,Rome,Aquatics,Swimming,"THEILE, David Egmont",AUS,Men,100M Backstroke,Gold
9806,1960,Rome,Aquatics,Swimming,"MCKINNEY, Frank Edward Jr.",USA,Men,100M Backstroke,Silver
9807,1960,Rome,Aquatics,Swimming,"TANAKA, Satoko",JPN,Women,100M Backstroke,Bronze
9808,1960,Rome,Aquatics,Swimming,"BURKE, Lynn Edythe",USA,Women,100M Backstroke,Gold
9809,1960,Rome,Aquatics,Swimming,"STEWARD, Natalie Alwyne",GBR,Women,100M Backstroke,Silver
9810,1960,Rome,Aquatics,Swimming,"ANDREW, Janice",AUS,Women,100M Butterfly,Bronze
9811,1960,Rome,Aquatics,Swimming,"SCHULER, Carolyn Jane",USA,Women,100M Butterfly,Gold
9812,1960,Rome,Aquatics,Swimming,"HEEMSKERK, Marianne Yvonne",NED,Women,100M Butterfly,Silver
9813,1960,Rome,Aquatics,Swimming,"DOS SANTOS, Manoel",BRA,Men,100M Freestyle,Bronze
9814,1960,Rome,Aquatics,Swimming,"DEVITT, John",AUS,Men,100M Freestyle,Gold
9815,1960,Rome,Aquatics,Swimming,"LARSON, Lance Melvin",USA,Men,100M Freestyle,Silver
9816,1960,Rome,Aquatics,Swimming,"STEWARD, Natalie Alwyne",GBR,Women,100M Freestyle,Bronze
9817,1960,Rome,Aquatics,Swimming,"FRASER, Dawn",AUS,Women,100M Freestyle,Gold
9818,1960,Rome,Aquatics,Swimming,"VON SALTZA, Susan Christina",USA,Women,100M Freestyle,Silver
9819,1960,Rome,Aquatics,Swimming,"BREEN, George Thomas",USA,Men,1500M Freestyle,Bronze
9820,1960,Rome,Aquatics,Swimming,"KONRADS, John (Jon)",AUS,Men,1500M Freestyle,Gold
9821,1960,Rome,Aquatics,Swimming,"ROSE, Murray",AUS,Men,1500M Freestyle,Silver
9822,1960,Rome,Aquatics,Swimming,"MENSONIDES, Wieger Emile",NED,Men,200M Breaststroke,Bronze
9823,1960,Rome,Aquatics,Swimming,"MULLIKEN, William Danforth",USA,Men,200M Breaststroke,Gold
9824,1960,Rome,Aquatics,Swimming,"OSAKI, Yoshihiko",JPN,Men,200M Breaststroke,Silver
9825,1960,Rome,Aquatics,Swimming,"GÖBEL, Barbara",EUA,Women,200M Breaststroke,Bronze
9826,1960,Rome,Aquatics,Swimming,"LONSBROUGH, Anita",GBR,Women,200M Breaststroke,Gold
9827,1960,Rome,Aquatics,Swimming,"URSELMANN, Wiltrud",EUA,Women,200M Breaststroke,Silver
9828,1960,Rome,Aquatics,Swimming,"GILLANDERS, John David",USA,Men,200M Butterfly,Bronze
9829,1960,Rome,Aquatics,Swimming,"TROY, Michael Francis",USA,Men,200M Butterfly,Gold
9830,1960,Rome,Aquatics,Swimming,"HAYES, Neville",AUS,Men,200M Butterfly,Silver
9831,1960,Rome,Aquatics,Swimming,"KONRADS, John (Jon)",AUS,Men,400M Freestyle,Bronze
9832,1960,Rome,Aquatics,Swimming,"ROSE, Murray",AUS,Men,400M Freestyle,Gold
9833,1960,Rome,Aquatics,Swimming,"YAMANAKA, Tsuyoshi",JPN,Men,400M Freestyle,Silver
9834,1960,Rome,Aquatics,Swimming,"LAGERBERG, Catharina (Tineke)",NED,Women,400M Freestyle,Bronze
9835,1960,Rome,Aquatics,Swimming,"VON SALTZA, Susan Christina",USA,Women,400M Freestyle,Gold
9836,1960,Rome,Aquatics,Swimming,"CEDERQVIST, Jane",SWE,Women,400M Freestyle,Silver
9837,1960,Rome,Aquatics,Swimming,"BRUNNER, Ursula",EUA,Women,4X100M Freestyle Relay,Bronze
9838,1960,Rome,Aquatics,Swimming,"PECHSTEIN, Heidi",EUA,Women,4X100M Freestyle Relay,Bronze
9839,1960,Rome,Aquatics,Swimming,"STEFFIN, Christel",EUA,Women,4X100M Freestyle Relay,Bronze
9840,1960,Rome,Aquatics,Swimming,"WEISS, Gisela",EUA,Women,4X100M Freestyle Relay,Bronze
9841,1960,Rome,Aquatics,Swimming,"SPILLANE, Joan Arlene",USA,Women,4X100M Freestyle Relay,Gold
...,...,...,...,...,...,...,...,...,...
12665,1968,Mexico,Weightlifting,Weightlifting,"KANGASNIEMI, Kaarlo Olavi",FIN,Men,"82.5 - 90KG, Total (Middle-Heavyweight)",Gold
12666,1968,Mexico,Weightlifting,Weightlifting,"TALTS, Yan",URS,Men,"82.5 - 90KG, Total (Middle-Heavyweight)",Silver
12667,1968,Mexico,Wrestling,Wrestling Free.,"SURENJAV, Sukhbaatar",MGL,Men,- 52KG (Flyweight),Bronze
12668,1968,Mexico,Wrestling,Wrestling Free.,"NAKATA, Shigeo",JPN,Men,- 52KG (Flyweight),Gold
12669,1968,Mexico,Wrestling,Wrestling Free.,"SANDERS, Richard Joseph",USA,Men,- 52KG (Flyweight),Silver
12670,1968,Mexico,Wrestling,Wrestling Free.,"DIETRICH, Wilfried",FRG,Men,+ 97KG (Heavyweight),Bronze
12671,1968,Mexico,Wrestling,Wrestling Free.,"MEDVED, Aleksandr",URS,Men,+ 97KG (Heavyweight),Gold
12672,1968,Mexico,Wrestling,Wrestling Free.,"DURALIEV, Osman",BUL,Men,+ 97KG (Heavyweight),Silver
12673,1968,Mexico,Wrestling,Wrestling Free.,"GORGORI, Abutaleb",IRI,Men,52 - 57KG (Bantamweight),Bronze
12674,1968,Mexico,Wrestling,Wrestling Free.,"UETAKE, Yojiro",JPN,Men,52 - 57KG (Bantamweight),Gold
12675,1968,Mexico,Wrestling,Wrestling Free.,"BEHM, Donald Rae",USA,Men,52 - 57KG (Bantamweight),Silver
12676,1968,Mexico,Wrestling,Wrestling Free.,"SEYED-ABBASSI, Shamseddin",IRI,Men,57 - 63KG (Featherweight),Bronze
12677,1968,Mexico,Wrestling,Wrestling Free.,"KANEKO, Masaki",JPN,Men,57 - 63KG (Featherweight),Gold
12678,1968,Mexico,Wrestling,Wrestling Free.,"TODOROV, Enyu Dinev",BUL,Men,57 - 63KG (Featherweight),Silver
12679,1968,Mexico,Wrestling,Wrestling Free.,"DANZANDARJAA, Sereeter",MGL,Men,63 - 70KG (Lightweight),Bronze
12680,1968,Mexico,Wrestling,Wrestling Free.,"MOVAHED-ARDABILI, Abdollah",IRI,Men,63 - 70KG (Lightweight),Gold
12681,1968,Mexico,Wrestling,Wrestling Free.,"VALTCHEV, Enyu Dimov",BUL,Men,63 - 70KG (Lightweight),Silver
12682,1968,Mexico,Wrestling,Wrestling Free.,"PUREV, Dagvasuren",MGL,Men,70 - 78KG (Welterweight),Bronze
12683,1968,Mexico,Wrestling,Wrestling Free.,"ATALAY, Mahmut",TUR,Men,70 - 78KG (Welterweight),Gold
12684,1968,Mexico,Wrestling,Wrestling Free.,"ROBIN, Daniel Sauton",FRA,Men,70 - 78KG (Welterweight),Silver
12685,1968,Mexico,Wrestling,Wrestling Free.,"GARDJEV, Prodan Stoyanov",BUL,Men,78 - 87KG (Middleweight),Bronze
12686,1968,Mexico,Wrestling,Wrestling Free.,"GUREVICH, Boris",URS,Men,78 - 87KG (Middleweight),Gold
12687,1968,Mexico,Wrestling,Wrestling Free.,"JIGJIDYM, Munkbat",MGL,Men,78 - 87KG (Middleweight),Silver
12688,1968,Mexico,Wrestling,Wrestling Free.,"CSATARI, Jozsef",HUN,Men,87 - 97KG (Light-Heavyweight),Bronze
12689,1968,Mexico,Wrestling,Wrestling Free.,"AYIK, Ahmet",TUR,Men,87 - 97KG (Light-Heavyweight),Gold
12690,1968,Mexico,Wrestling,Wrestling Free.,"LOMIDZE, Shota",URS,Men,87 - 97KG (Light-Heavyweight),Silver
12691,1968,Mexico,Wrestling,Wrestling Gre-R,"ZEMAN, Miroslav",TCH,Men,- 52KG (Flyweight),Bronze
12692,1968,Mexico,Wrestling,Wrestling Gre-R,"KIROV, Petar",BUL,Men,- 52KG (Flyweight),Gold
12693,1968,Mexico,Wrestling,Wrestling Gre-R,"BAKULIN, Vladimir",URS,Men,- 52KG (Flyweight),Silver
12694,1968,Mexico,Wrestling,Wrestling Gre-R,"KMENT, Petr",TCH,Men,+ 97KG (Super Heavyweight),Bronze
12695,1968,Mexico,Wrestling,Wrestling Gre-R,"KOZMA, Istvan",HUN,Men,+ 97KG (Super Heavyweight),Gold
12696,1968,Mexico,Wrestling,Wrestling Gre-R,"ROSHCHIN, Anatoli",URS,Men,+ 97KG (Super Heavyweight),Silver
12697,1968,Mexico,Wrestling,Wrestling Gre-R,"KOCHERGIN, Ivan",URS,Men,52 - 57KG (Bantamweight),Bronze
12698,1968,Mexico,Wrestling,Wrestling Gre-R,"VARGA, Janos",HUN,Men,52 - 57KG (Bantamweight),Gold
12699,1968,Mexico,Wrestling,Wrestling Gre-R,"BACIU, Ion",ROU,Men,52 - 57KG (Bantamweight),Silver
12700,1968,Mexico,Wrestling,Wrestling Gre-R,"POPESCU, Simion",ROU,Men,57 - 63KG (Featherweight),Bronze
12701,1968,Mexico,Wrestling,Wrestling Gre-R,"RURUA, Roman",URS,Men,57 - 63KG (Featherweight),Gold
12702,1968,Mexico,Wrestling,Wrestling Gre-R,"FUJIMOTO, Hideo",JPN,Men,57 - 63KG (Featherweight),Silver
12703,1968,Mexico,Wrestling,Wrestling Gre-R,"GALAKTOPOULOS, Petros",GRE,Men,63 - 70KG (Lightweight),Bronze
12704,1968,Mexico,Wrestling,Wrestling Gre-R,"NUMEMURA, Munji",JPN,Men,63 - 70KG (Lightweight),Gold
12705,1968,Mexico,Wrestling,Wrestling Gre-R,"HORVAT, Stevan",YUG,Men,63 - 70KG (Lightweight),Silver
12706,1968,Mexico,Wrestling,Wrestling Gre-R,"BAJKO, Karoly",HUN,Men,70 - 78KG (Welterweight),Bronze
12707,1968,Mexico,Wrestling,Wrestling Gre-R,"VESPER, Rudolf",GDR,Men,70 - 78KG (Welterweight),Gold
12708,1968,Mexico,Wrestling,Wrestling Gre-R,"ROBIN, Daniel Sauton",FRA,Men,70 - 78KG (Welterweight),Silver
12709,1968,Mexico,Wrestling,Wrestling Gre-R,"SIMIC, Branislav",YUG,Men,78 - 87KG (Middleweight),Bronze
12710,1968,Mexico,Wrestling,Wrestling Gre-R,"METZ, Lothar",GDR,Men,78 - 87KG (Middleweight),Gold
12711,1968,Mexico,Wrestling,Wrestling Gre-R,"OLEINIK, Valentin",URS,Men,78 - 87KG (Middleweight),Silver
12712,1968,Mexico,Wrestling,Wrestling Gre-R,"MARTINESCU, Nicolae",ROU,Men,87 - 97KG (Light-Heavyweight),Bronze
12713,1968,Mexico,Wrestling,Wrestling Gre-R,"RADEV, Boyan Aleksandrov",BUL,Men,87 - 97KG (Light-Heavyweight),Gold
12714,1968,Mexico,Wrestling,Wrestling Gre-R,"YAKOVENKO, Nikolai",URS,Men,87 - 97KG (Light-Heavyweight),Silver

In [56]:
my_favorite_games = [1972, 1996]

In [57]:
summer.Year.isin(my_favorite_games).head()

0    False
1    False
2    False
3    False
4    False
Name: Year, dtype: bool

In [58]:
og_72_96 = summer.loc[summer.Year.isin(my_favorite_games)]

In [59]:
og_72_96

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
12715,1972,Munich,Aquatics,Diving,"CAGNOTTO, Giorgio Franco",ITA,Men,10M Platform,Bronze
12716,1972,Munich,Aquatics,Diving,"DIBIASI, Klaus",ITA,Men,10M Platform,Gold
12717,1972,Munich,Aquatics,Diving,"RYDZE, Richard Anthony",USA,Men,10M Platform,Silver
12718,1972,Munich,Aquatics,Diving,"JANICKE, Marina",GDR,Women,10M Platform,Bronze
12719,1972,Munich,Aquatics,Diving,"KNAPE-LINDBERGH, Ulrika",SWE,Women,10M Platform,Gold
12720,1972,Munich,Aquatics,Diving,"DUCHKOVA, Milena",TCH,Women,10M Platform,Silver
12721,1972,Munich,Aquatics,Diving,"LINCOLN, Craig Howard",USA,Men,3M Springboard,Bronze
12722,1972,Munich,Aquatics,Diving,"VASIN, Vladimir",URS,Men,3M Springboard,Gold
12723,1972,Munich,Aquatics,Diving,"CAGNOTTO, Giorgio Franco",ITA,Men,3M Springboard,Silver
12724,1972,Munich,Aquatics,Diving,"JANICKE, Marina",GDR,Women,3M Springboard,Bronze
12725,1972,Munich,Aquatics,Diving,"KING, Maxine Joyce",USA,Women,3M Springboard,Gold
12726,1972,Munich,Aquatics,Diving,"KNAPE-LINDBERGH, Ulrika",SWE,Women,3M Springboard,Silver
12727,1972,Munich,Aquatics,Swimming,"MURPHY, John Joseph",USA,Men,100M Backstroke,Bronze
12728,1972,Munich,Aquatics,Swimming,"MATTHES, Roland",GDR,Men,100M Backstroke,Gold
12729,1972,Munich,Aquatics,Swimming,"STAMM, Michael Eugene",USA,Men,100M Backstroke,Silver
12730,1972,Munich,Aquatics,Swimming,"ATWOOD, Susanne Jean",USA,Women,100M Backstroke,Bronze
12731,1972,Munich,Aquatics,Swimming,"BELOTE, Melissa Louise",USA,Women,100M Backstroke,Gold
12732,1972,Munich,Aquatics,Swimming,"GYARMATI, Andrea",HUN,Women,100M Backstroke,Silver
12733,1972,Munich,Aquatics,Swimming,"HENCKEN, John Frederick",USA,Men,100M Breaststroke,Bronze
12734,1972,Munich,Aquatics,Swimming,"TAGUCHI, Nobutaka",JPN,Men,100M Breaststroke,Gold
12735,1972,Munich,Aquatics,Swimming,"BRUCE, Thomas Edwin",USA,Men,100M Breaststroke,Silver
12736,1972,Munich,Aquatics,Swimming,"WHITFIELD, Beverley Joy",AUS,Women,100M Breaststroke,Bronze
12737,1972,Munich,Aquatics,Swimming,"CARR, Catherine L.",USA,Women,100M Breaststroke,Gold
12738,1972,Munich,Aquatics,Swimming,"PROZUMENSCHIKOVA-STEPANOVA, Galina",URS,Women,100M Breaststroke,Silver
12739,1972,Munich,Aquatics,Swimming,"HEIDENREICH, Jerry Alan",USA,Men,100M Butterfly,Bronze
12740,1972,Munich,Aquatics,Swimming,"SPITZ, Mark",USA,Men,100M Butterfly,Gold
12741,1972,Munich,Aquatics,Swimming,"ROBERTSON, Bruce Richard",CAN,Men,100M Butterfly,Silver
12742,1972,Munich,Aquatics,Swimming,"GYARMATI, Andrea",HUN,Women,100M Butterfly,Bronze
12743,1972,Munich,Aquatics,Swimming,"AOKI, Mayumi",JPN,Women,100M Butterfly,Gold
12744,1972,Munich,Aquatics,Swimming,"BEIER, Roswitha",GDR,Women,100M Butterfly,Silver
12745,1972,Munich,Aquatics,Swimming,"BURE, Vladimir",URS,Men,100M Freestyle,Bronze
12746,1972,Munich,Aquatics,Swimming,"SPITZ, Mark",USA,Men,100M Freestyle,Gold
12747,1972,Munich,Aquatics,Swimming,"HEIDENREICH, Jerry Alan",USA,Men,100M Freestyle,Silver
12748,1972,Munich,Aquatics,Swimming,"GOULD, Shane",AUS,Women,100M Freestyle,Bronze
12749,1972,Munich,Aquatics,Swimming,"NEILSON, Alexandra Lynn",USA,Women,100M Freestyle,Gold
12750,1972,Munich,Aquatics,Swimming,"BABASHOFF, Shirley Farber",USA,Women,100M Freestyle,Silver
12751,1972,Munich,Aquatics,Swimming,"NORTHWAY, Douglas Dale",USA,Men,1500M Freestyle,Bronze
12752,1972,Munich,Aquatics,Swimming,"BURTON, Michael Jay",USA,Men,1500M Freestyle,Gold
12753,1972,Munich,Aquatics,Swimming,"WINDEATT, Graham Claud",AUS,Men,1500M Freestyle,Silver
12754,1972,Munich,Aquatics,Swimming,"IVEY, Mitchell",USA,Men,200M Backstroke,Bronze
12755,1972,Munich,Aquatics,Swimming,"MATTHES, Roland",GDR,Men,200M Backstroke,Gold
12756,1972,Munich,Aquatics,Swimming,"STAMM, Michael Eugene",USA,Men,200M Backstroke,Silver
12757,1972,Munich,Aquatics,Swimming,"GURR, Donna Marie",CAN,Women,200M Backstroke,Bronze
12758,1972,Munich,Aquatics,Swimming,"BELOTE, Melissa Louise",USA,Women,200M Backstroke,Gold
12759,1972,Munich,Aquatics,Swimming,"ATWOOD, Susanne Jean",USA,Women,200M Backstroke,Silver
12760,1972,Munich,Aquatics,Swimming,"TAGUCHI, Nobutaka",JPN,Men,200M Breaststroke,Bronze
12761,1972,Munich,Aquatics,Swimming,"HENCKEN, John Frederick",USA,Men,200M Breaststroke,Gold
12762,1972,Munich,Aquatics,Swimming,"WILKIE, David Andrew",GBR,Men,200M Breaststroke,Silver
12763,1972,Munich,Aquatics,Swimming,"PROZUMENSCHIKOVA-STEPANOVA, Galina",URS,Women,200M Breaststroke,Bronze
12764,1972,Munich,Aquatics,Swimming,"WHITFIELD, Beverley Joy",AUS,Women,200M Breaststroke,Gold
...,...,...,...,...,...,...,...,...,...
23111,1996,Atlanta,Wrestling,Wrestling Free.,"CROSS, Kendall Duane",USA,Men,52 - 57KG (Bantamweight),Gold
23112,1996,Atlanta,Wrestling,Wrestling Free.,"SISSAOURI, Giuvi",CAN,Men,52 - 57KG (Bantamweight),Silver
23113,1996,Atlanta,Wrestling,Wrestling Free.,"TEDEYEV, Elbrus",UKR,Men,57 - 62KG (Featherweight),Bronze
23114,1996,Atlanta,Wrestling,Wrestling Free.,"BRANDS, Tom",USA,Men,57 - 62KG (Featherweight),Gold
23115,1996,Atlanta,Wrestling,Wrestling Free.,"JANG, Jae-Sung",KOR,Men,57 - 62KG (Featherweight),Silver
23116,1996,Atlanta,Wrestling,Wrestling Free.,"ZOZIROV, Zaza",UKR,Men,62 - 68KG (Lightweight),Bronze
23117,1996,Atlanta,Wrestling,Wrestling Free.,"BOGIYEV, Vadim",RUS,Men,62 - 68KG (Lightweight),Gold
23118,1996,Atlanta,Wrestling,Wrestling Free.,"SAUNDERS, Townsend",USA,Men,62 - 68KG (Lightweight),Silver
23119,1996,Atlanta,Wrestling,Wrestling Free.,"OTA, Takuya",JPN,Men,68 - 74KG (Welterweight),Bronze
23120,1996,Atlanta,Wrestling,Wrestling Free.,"SAYTIEV, Buvaysa",RUS,Men,68 - 74KG (Welterweight),Gold
23121,1996,Atlanta,Wrestling,Wrestling Free.,"PARK, Jang-Soon",KOR,Men,68 - 74KG (Welterweight),Silver
23122,1996,Atlanta,Wrestling,Wrestling Free.,"KHADEM AZGHADI, Amir Reza",IRI,Men,74 - 82KG (Middleweight),Bronze
23123,1996,Atlanta,Wrestling,Wrestling Free.,"MAGOMEDOV, Khadzhimurad",RUS,Men,74 - 82KG (Middleweight),Gold
23124,1996,Atlanta,Wrestling,Wrestling Free.,"YANG, Hyun-Mo",KOR,Men,74 - 82KG (Middleweight),Silver
23125,1996,Atlanta,Wrestling,Wrestling Free.,"KURTANIDZE, Eldari",GEO,Men,82 - 90KG (Light-Heavyweight),Bronze
23126,1996,Atlanta,Wrestling,Wrestling Free.,"KHADEM AZGHADI, Rasul",IRI,Men,82 - 90KG (Light-Heavyweight),Gold
23127,1996,Atlanta,Wrestling,Wrestling Free.,"KHADARTSEV, Makharbek",RUS,Men,82 - 90KG (Light-Heavyweight),Silver
23128,1996,Atlanta,Wrestling,Wrestling Free.,"SABEJEW, Arawat",GER,Men,90 - 100KG (Heavyweight),Bronze
23129,1996,Atlanta,Wrestling,Wrestling Free.,"ANGLE, Kurt",USA,Men,90 - 100KG (Heavyweight),Gold
23130,1996,Atlanta,Wrestling,Wrestling Free.,"JADIDI, Abbas",IRI,Men,90 - 100KG (Heavyweight),Silver
23131,1996,Atlanta,Wrestling,Wrestling Gre-R,"GULYOV, Zafar",RUS,Men,- 48KG (Light-Flyweight),Bronze
23132,1996,Atlanta,Wrestling,Wrestling Gre-R,"SIM, Kwon-Ho",KOR,Men,- 48KG (Light-Flyweight),Gold
23133,1996,Atlanta,Wrestling,Wrestling Gre-R,"PAVLOV, Aleksandr",BLR,Men,- 48KG (Light-Flyweight),Silver
23134,1996,Atlanta,Wrestling,Wrestling Gre-R,"MOUREIKO, Serguei",MDA,Men,100 - 130KG (Super Heavyweight),Bronze
23135,1996,Atlanta,Wrestling,Wrestling Gre-R,"KARELIN, Aleksandr",RUS,Men,100 - 130KG (Super Heavyweight),Gold
23136,1996,Atlanta,Wrestling,Wrestling Gre-R,"GHAFFARI, Siamak",USA,Men,100 - 130KG (Super Heavyweight),Silver
23137,1996,Atlanta,Wrestling,Wrestling Gre-R,"KALASHNIKOV, Andriy",UKR,Men,48 - 52KG (Flyweight),Bronze
23138,1996,Atlanta,Wrestling,Wrestling Gre-R,"NAZARYAN, Armen",ARM,Men,48 - 52KG (Flyweight),Gold
23139,1996,Atlanta,Wrestling,Wrestling Gre-R,"PAULSON, Brandon",USA,Men,48 - 52KG (Flyweight),Silver
23140,1996,Atlanta,Wrestling,Wrestling Gre-R,"SHENG, Zetian",CHN,Men,52 - 57KG (Bantamweight),Bronze
23141,1996,Atlanta,Wrestling,Wrestling Gre-R,"MELNICHENKO, Yuriy",KAZ,Men,52 - 57KG (Bantamweight),Gold
23142,1996,Atlanta,Wrestling,Wrestling Gre-R,"HALL, Dennis",USA,Men,52 - 57KG (Bantamweight),Silver
23143,1996,Atlanta,Wrestling,Wrestling Gre-R,"PIRIM, Akif",TUR,Men,57 - 62KG (Featherweight),Bronze
23144,1996,Atlanta,Wrestling,Wrestling Gre-R,"ZAWADZKI, Wlodzimierz",POL,Men,57 - 62KG (Featherweight),Gold
23145,1996,Atlanta,Wrestling,Wrestling Gre-R,"MAREN, Juan Luis",CUB,Men,57 - 62KG (Featherweight),Silver
23146,1996,Atlanta,Wrestling,Wrestling Gre-R,"TRETYAKOV, Aleksandr",RUS,Men,62 - 68KG (Lightweight),Bronze
23147,1996,Atlanta,Wrestling,Wrestling Gre-R,"WOLNY, Ryszard",POL,Men,62 - 68KG (Lightweight),Gold
23148,1996,Atlanta,Wrestling,Wrestling Gre-R,"YOLOUZ, Ghani",FRA,Men,62 - 68KG (Lightweight),Silver
23149,1996,Atlanta,Wrestling,Wrestling Gre-R,"TRACZ, Jozef",POL,Men,68 - 74KG (Welterweight),Bronze
23150,1996,Atlanta,Wrestling,Wrestling Gre-R,"ASCUY AGUILERA, Feliberto",CUB,Men,68 - 74KG (Welterweight),Gold
23151,1996,Atlanta,Wrestling,Wrestling Gre-R,"ASELL, Marko",FIN,Men,68 - 74KG (Welterweight),Silver
23152,1996,Atlanta,Wrestling,Wrestling Gre-R,"TSILENT, Valeriy",BLR,Men,74 - 82KG (Middleweight),Bronze
23153,1996,Atlanta,Wrestling,Wrestling Gre-R,"YERLIKAYA, Hamza",TUR,Men,74 - 82KG (Middleweight),Gold
23154,1996,Atlanta,Wrestling,Wrestling Gre-R,"ZANDER, Thomas",GER,Men,74 - 82KG (Middleweight),Silver
23155,1996,Atlanta,Wrestling,Wrestling Gre-R,"BULLMANN, Maik",GER,Men,82 - 90KG (Light-Heavyweight),Bronze
23156,1996,Atlanta,Wrestling,Wrestling Gre-R,"OLEYNYK, Vyacheslav",UKR,Men,82 - 90KG (Light-Heavyweight),Gold
23157,1996,Atlanta,Wrestling,Wrestling Gre-R,"FAFINSKI, Jacek",POL,Men,82 - 90KG (Light-Heavyweight),Silver
23158,1996,Atlanta,Wrestling,Wrestling Gre-R,"LJUNGBERG, Mikael",SWE,Men,90 - 100KG (Heavyweight),Bronze
23159,1996,Atlanta,Wrestling,Wrestling Gre-R,"WRONSKI, Andrzej",POL,Men,90 - 100KG (Heavyweight),Gold
23160,1996,Atlanta,Wrestling,Wrestling Gre-R,"LISHTVAN, Sergey",BLR,Men,90 - 100KG (Heavyweight),Silver

In [60]:
og_not_72_76 = summer.loc[~summer.Year.isin(my_favorite_games)]

In [61]:
og_not_72_76

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver
20,1896,Athens,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400M,Bronze
21,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,400M,Gold
22,1896,Athens,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400M,Silver
23,1896,Athens,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800M,Bronze
24,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800M,Gold
25,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver
26,1896,Athens,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,Discus Throw,Bronze
27,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Discus Throw,Gold
28,1896,Athens,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,Discus Throw,Silver
29,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,High Jump,Gold
30,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,High Jump,Silver
31,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,High Jump,Silver
32,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Long Jump,Bronze
33,1896,Athens,Athletics,Athletics,"CLARK, Ellery",USA,Men,Long Jump,Gold
34,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Long Jump,Silver
35,1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze
36,1896,Athens,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,Marathon,Gold
37,1896,Athens,Athletics,Athletics,"VASILAKOS, Kharilaos",GRE,Men,Marathon,Silver
38,1896,Athens,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,Pole Vault,Bronze
39,1896,Athens,Athletics,Athletics,"THEODOROPOULOS, Ioannis",GRE,Men,Pole Vault,Bronze
40,1896,Athens,Athletics,Athletics,"HOYT, William Welles",USA,Men,Pole Vault,Gold
41,1896,Athens,Athletics,Athletics,"TYLER, Albert",USA,Men,Pole Vault,Silver
42,1896,Athens,Athletics,Athletics,"PAPASIDERIS, Georgios",GRE,Men,Shot Put,Bronze
43,1896,Athens,Athletics,Athletics,"GARRETT, Robert",USA,Men,Shot Put,Gold
44,1896,Athens,Athletics,Athletics,"GOUSKOS, Miltiadis",GRE,Men,Shot Put,Silver
45,1896,Athens,Athletics,Athletics,"PERSAKIS, Ioannis",GRE,Men,Triple Jump,Bronze
46,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,Triple Jump,Gold
47,1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,Triple Jump,Silver
48,1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze
49,1896,Athens,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,Individual Road Race,Gold
...,...,...,...,...,...,...,...,...,...
31115,2012,London,Wrestling,Wrestling Freestyle,"SORONZONBOLD, Battsetseg",MGL,Women,Wf 63 KG,Bronze
31116,2012,London,Wrestling,Wrestling Freestyle,"VOLOSOVA, Lubov",RUS,Women,Wf 63 KG,Bronze
31117,2012,London,Wrestling,Wrestling Freestyle,"YONEMITSU, Tatsuhiro",JPN,Men,Wf 66 KG,Gold
31118,2012,London,Wrestling,Wrestling Freestyle,"KUMAR, Sushil",IND,Men,Wf 66 KG,Silver
31119,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ AZCUY, Livan",CUB,Men,Wf 66 KG,Bronze
31120,2012,London,Wrestling,Wrestling Freestyle,"TANATAROV, Akzhurek",KAZ,Men,Wf 66 KG,Bronze
31121,2012,London,Wrestling,Wrestling Freestyle,"VOROBIEVA, Natalia",RUS,Women,Wf 72 KG,Gold
31122,2012,London,Wrestling,Wrestling Freestyle,"HRISTOVA, Stanka Zlateva",BUL,Women,Wf 72 KG,Silver
31123,2012,London,Wrestling,Wrestling Freestyle,"MANYUROVA, Guzel",KAZ,Women,Wf 72 KG,Bronze
31124,2012,London,Wrestling,Wrestling Freestyle,"UNDA, Maider",ESP,Women,Wf 72 KG,Bronze
31125,2012,London,Wrestling,Wrestling Freestyle,"BURROUGHS, Jordan Ernest",USA,Men,Wf 74 KG,Gold
31126,2012,London,Wrestling,Wrestling Freestyle,"GOUDARZI, Sadegh Saeed",IRI,Men,Wf 74 KG,Silver
31127,2012,London,Wrestling,Wrestling Freestyle,"HATOS, Gabor",HUN,Men,Wf 74 KG,Bronze
31128,2012,London,Wrestling,Wrestling Freestyle,"TSARGUSH, Denis",RUS,Men,Wf 74 KG,Bronze
31129,2012,London,Wrestling,Wrestling Freestyle,"SHARIFOV, Sharif",AZE,Men,Wf 84 KG,Gold
31130,2012,London,Wrestling,Wrestling Freestyle,"ESPINAL, Jaime Yusept",PUR,Men,Wf 84 KG,Silver
31131,2012,London,Wrestling,Wrestling Freestyle,"LASHGARI, Ehsan Naser",IRI,Men,Wf 84 KG,Bronze
31132,2012,London,Wrestling,Wrestling Freestyle,"MARSAGISHVILI, Dato",GEO,Men,Wf 84 KG,Bronze
31133,2012,London,Wrestling,Wrestling Freestyle,"VARNER, Jacob Stephen",USA,Men,Wf 96 KG,Gold
31134,2012,London,Wrestling,Wrestling Freestyle,"ANDRIITSEV, Valerii",UKR,Men,Wf 96 KG,Silver
31135,2012,London,Wrestling,Wrestling Freestyle,"GAZYUMOV, Khetag",AZE,Men,Wf 96 KG,Bronze
31136,2012,London,Wrestling,Wrestling Freestyle,"GOGSHELIDZE, George",GEO,Men,Wf 96 KG,Bronze
31137,2012,London,Wrestling,Wrestling Freestyle,"LOPEZ NUNEZ, Mijain",CUB,Men,Wg 120 KG,Gold
31138,2012,London,Wrestling,Wrestling Freestyle,"NABI, Heiki",EST,Men,Wg 120 KG,Silver
31139,2012,London,Wrestling,Wrestling Freestyle,"EUREN, Johan",SWE,Men,Wg 120 KG,Bronze
31140,2012,London,Wrestling,Wrestling Freestyle,"KAYAALP, Riza",TUR,Men,Wg 120 KG,Bronze
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31142,2012,London,Wrestling,Wrestling Freestyle,"BAYRAMOV, Rovshan",AZE,Men,Wg 55 KG,Silver
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31144,2012,London,Wrestling,Wrestling Freestyle,"SEMENOV, Mingiyan",RUS,Men,Wg 55 KG,Bronze
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [62]:
og_not_72_76.Year.unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1976, 1980, 1984, 1988, 1992, 2000,
       2004, 2008, 2012])

## ANY AND ALL operators

In [63]:
(titanic.sex == "male").any()

True

In [64]:
(titanic.sex == "male").all()

False

In [65]:
(titanic.age == 80.0).any()

True

In [66]:
pd.Series([-1, 0.5, 1, -0.1, 0]).all()

False

In [68]:
titanic.fare.all()

False

In [69]:
titanic.fare.unique()

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
        31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,  18.    ,
         7.225 ,  26.    ,   8.0292,  35.5   ,  31.3875, 263.    ,
         7.8792,   7.8958,  27.7208, 146.5208,   7.75  ,  10.5   ,
        82.1708,  52.    ,   7.2292,  11.2417,   9.475 ,  21.    ,
        41.5792,  15.5   ,  21.6792,  17.8   ,  39.6875,   7.8   ,
        76.7292,  61.9792,  27.75  ,  46.9   ,  80.    ,  83.475 ,
        27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  14.4542,
        56.4958,   7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,
         7.7875,  47.1   ,  15.85  ,  34.375 ,  61.175 ,  20.575 ,
        34.6542,  63.3583,  23.    ,  77.2875,   8.6542,   7.775 ,
        24.15  ,   9.825 ,  14.4583, 247.5208,   7.1417,  22.3583,
         6.975 ,   7.05  ,  14.5   ,  15.0458,  26.2833,   9.2167,
        79.2   ,   6.75  ,  11.5   ,  36.75  ,   7.7958,  12.525 ,
        66.6   ,   7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,
        15.75  ,  20.525 ,  55.    ,  25.925 ,  33.5   ,  30.6958,
        25.4667,  28.7125,   0.    ,  15.05  ,  39.    ,  22.025 ,
        50.    ,   8.4042,   6.4958,  10.4625,  18.7875,  31.    ,
       113.275 ,  27.    ,  76.2917,  90.    ,   9.35  ,  13.5   ,
         7.55  ,  26.25  ,  12.275 ,   7.125 ,  52.5542,  20.2125,
        86.5   , 512.3292,  79.65  , 153.4625, 135.6333,  19.5   ,
        29.7   ,  77.9583,  20.25  ,  78.85  ,  91.0792,  12.875 ,
         8.85  , 151.55  ,  30.5   ,  23.25  ,  12.35  , 110.8833,
       108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,  14.    ,
       164.8667, 134.5   ,   6.2375,  57.9792,  28.5   , 133.65  ,
        15.9   ,   9.225 ,  35.    ,  75.25  ,  69.3   ,  55.4417,
       211.5   ,   4.0125, 227.525 ,  15.7417,   7.7292,  12.    ,
       120.    ,  12.65  ,  18.75  ,   6.8583,  32.5   ,   7.875 ,
        14.4   ,  55.9   ,   8.1125,  81.8583,  19.2583,  19.9667,
        89.1042,  38.5   ,   7.725 ,  13.7917,   9.8375,   7.0458,
         7.5208,  12.2875,   9.5875,  49.5042,  78.2667,  15.1   ,
         7.6292,  22.525 ,  26.2875,  59.4   ,   7.4958,  34.0208,
        93.5   , 221.7792, 106.425 ,  49.5   ,  71.    ,  13.8625,
         7.8292,  39.6   ,  17.4   ,  51.4792,  26.3875,  30.    ,
        40.125 ,   8.7125,  15.    ,  33.    ,  42.4   ,  15.55  ,
        65.    ,  32.3208,   7.0542,   8.4333,  25.5875,   9.8417,
         8.1375,  10.1708, 211.3375,  57.    ,  13.4167,   7.7417,
         9.4833,   7.7375,   8.3625,  23.45  ,  25.9292,   8.6833,
         8.5167,   7.8875,  37.0042,   6.45  ,   6.95  ,   8.3   ,
         6.4375,  39.4   ,  14.1083,  13.8583,  50.4958,   5.    ,
         9.8458,  10.5167])